<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Member</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar(pembelian)"></nav>

<div class="container">
    <div class="m-4">
        <br>
        <h2 class="text-center" th:text="'Pembelian dengan nomor invoice ' + ${pembelian.noInvoicePembelian} + ' berhasil dihapus.'"></h2>
        <br>
        <h4 class="text-center">Dengan stok barang yang diperbarui:</h4>
        <table class="table text-center" style="margin:auto;width: 24rem;">
            <thead class="bg-warning">
            <tr>
                <th>Nama Barang</th>
                <th>Stok Baru</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="barang, iterationStatus : ${barangBertambahList}"
                th:style="${iterationStatus.even ? 'background:white;' : 'background:gainsboro;'}">
                <td th:text="*{barang.namaBarang}"></td>
                <td th:text="*{barang.stokBarang}"></td>
            </tr>
            </tbody>
        </table>
        <br><br>
        <div class="text-center">
            <a class="btn btn-outline-warning text-warning bg-white btn-lg" href="/pembelian">Kembali</a>
        </div>

    </div>
</div>

</body>
</html>